.content-container{
    display: grid;
    grid-template-columns: 820px 400px;
    grid-template-rows: 500px auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px 0px 10px 0px;
    justify-content: center ;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: 
        "video recommended-list"
        "info  recommended-list"
        ". recommended-list";
}

@mixin resize-container($video-width, $video-height){
    .content-container{
        display: grid;
        grid-template-columns: $video-width;
        grid-template-rows: $video-height auto auto;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas: 
            "video"
            "info"
            "recommended-list"
    }
   
}
@mixin full-width($width-x){
    .content-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 235px auto auto;
        
        //margin: 3px;
        align-items: stretch;
        grid-template-areas: 
            "video"
            "info"
            "recommended-list"
    }
    #main-player{
        width: 100%;
        justify-self: stretch;
    }
    #main-info{
        width: 100%;
        justify-self: stretch;
    }
}
@media screen and (min-width:840px) and (max-width:1250px){
    @include resize-container(820px, 470px);
}
@media screen and (min-width:600px) and (max-width:840px){
    @include resize-container(580px, 330px);
}
@media screen and (min-width:420px) and (max-width:600px){
    @include resize-container(410px, 240px);
}
@media screen and (min-width:380px) and (max-width:420px){
    @include full-width(400px);
}
/*@media screen and (min-width:370px) and (max-width:380px){
    @include full-width(370px);
}
@media screen and (min-width:355px) and (max-width:370px){
    @include full-width(355px);
}*/
@media screen and (max-width:380px){
    @include full-width(320px);
}

/*@media screen and (max-width:375px){
    @include resize-container(360px, 200px);
}
@media screen and (max-width:420px){
    @include resize-container(380px, 220px);
}*/
#recommended-list{
    grid-area: recommended-list;
    background-color: rgb(255, 255, 255);
    justify-self: stretch;
    box-shadow: 1px 2px 2px rgb(240,240,240);

}
#main-player{
    grid-area: video;
    margin: 0;
    padding: 0;
    box-shadow: 1px 2px 2px rgb(240,240,240);
}
#main-info{
    h6{
        width: 97%;
        margin:auto;
    }
    grid-area: info;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 2px rgb(240, 240, 240);
    padding: 7px 10px 13px 10px;
    
    #sub-info{
        display: flex;
        flex-direction: column;
        #starnames{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .star-profile{
                padding: 0 10px 0 10px;
                font-size: 13px;
                width: 130px;
                
                p{
                    position: relative;
                    max-height: 1.2em;
                    line-height: 1.2em;
                    overflow: hidden;
                    a{
                        color:rgb(90, 90, 90);
                    }
                }
                img{
                    
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }
        }
        #other-info{
            padding: 0px 10px 0px 10px;
            font-size: 13px;
            p{  
                margin: 0;
                word-wrap: break-word;
                a{
                    color: rgb(90, 90, 90);
                }
                span{
                    color: black;
                }
            }
        }
    }
}
