<div class="watchlater-list-container">
    <div *ngFor="let content of contents; let i = index" 
        [id]="'waterlater-item-' + (i + 1)" 
        class="content-card"
        [ngStyle]="{'flex-direction':flex_direction}">
        
        <div *ngIf="isMoblie" class="content-card-img">
            <img *ngIf="playing_id !== content._id" 
                (click)="playVideo(content._id, content.videoUrl)" 
                [ngStyle]="{'width':image_width,'height':image_height}"  
                [src]="content.imgSummaryUrl" 
                onerror="this.onerror=null;this.src='/assets/images/photo_not_available.jpg';"/>
            <iframe *ngIf="playing_id === content._id" 
                class="frame-player" 
                [width]="image_width" 
                [height]="image_height" 
                allowfullscreen 
                [src]="safeUrl"  
                frameborder="0"></iframe>
            <span *ngIf="content.duration &&  playing_id !== content._id" class="duration">&nbsp;{{formatter.convertDuration(content.duration)}}&nbsp;</span>
            <i class="far fa-times-circle" (click)="removeWatchLater(i, content._id)"></i>
        </div>
        <div *ngIf="!isMoblie" class="content-card-img">
            <a [routerLink]="'/content/' + content._id">
                <img [ngStyle]="{'width':image_width,'height':image_height}"  
                [src]="content.imgSummaryUrl" 
                onerror="this.onerror=null;this.src='/assets/images/photo_not_available.jpg';"/>
            </a>
            <span *ngIf="content.duration" class="duration">&nbsp;{{formatter.convertDuration(content.duration)}}&nbsp;</span>
            <i class="far fa-times-circle" (click)="removeWatchLater(i, content._id)"></i>
        </div>


        <div class="content-card-info">
            <div class="card-title">
              <a [routerLink]="'/content/' + content._id"><span class="text-concat">{{content.title}}</span></a>
            </div>
            <div *ngIf="content.starnames.length > 0" class="sub-info">
              <span class="tag-value">{{content.starnames.length === 1? 'Pornstar': 'Pornstars'}}: {{formatter.convertStarnames(content.starnames)}}</span>
            </div>
            <div class="sub-info">
              <span class="tag-value"><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;&nbsp;{{formatter.convertRating(content.rating)}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span class="tag-value">{{formatter.convertView(content.view)}} views&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span *ngIf="content.genres.indexOf('uncensored') !== -1" class="tag-value uncensored">&nbsp;&nbsp;U&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>
</div>