button:focus {
    outline: none;
    border: 0;
}
#function-panel{
    opacity: .97;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    background-color:rgb(255,255,255);
    box-shadow: 1px 2px 2px rgb(220,220,220);
    width: 250px;
    height: 150px;
    #function-panel-core{
        margin: 10px;
        display: grid;
        font-family: sans-serif;
        font-weight: bold;
        .auto-view{
            margin: 5px 0 5px 0;
            label{
                margin: 0;
                padding: 0;
            }
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            font-size: 13px;
            align-content: center;
            align-items: center;
            justify-content: space-between;
        }
        .single-item{
            margin:auto;
            button{
                font-size: 14px;
                border:0px;
                margin: 3px 0 3px 0;
                font-weight: normal;
                color:red;
                background-color:rgb(255,255,255);
            }
            button:hover{
                cursor: pointer;
                font-weight: bold;
            }
        }
        
    }
}