/**
* 
*/
$num-item-per-page: 60;
@mixin grid-template-areas-generator($num-item, $num-item-per-row){
    $num-item-row: ceil($num-item / $num-item-per-row);
    $counter:0;
    @for $col from 1 through $num-item-row {
        @for $row from 1 through $num-item-per-row{
            $counter: $counter + 1;
            #item-#{$counter} {
                grid-row: $col / span 1;
                grid-column: $row / span 1;
                
            }
        }
    }
}
@mixin contents-block( $num-item, $gap, $num-columns, $column-width, $width){
    $num-rows: ceil($num-item / $num-columns);
    margin: 10px auto 10px auto;
    display: grid;
    width: $width; // num-columns * $column-width  + gap * (num-columns - 1)
    grid-template-columns: repeat($num-columns, $column-width);
    grid-template-rows: repeat($num-rows, auto);
    grid-gap: $gap $gap; // row gap and col gap
    justify-items: stretch; // e.g. a grid width is 200px, if the internal content is less then 200px, how to do
    align-items: stretch;// y-axis
    justify-content: start; // e.g. a row has 3 grid, but only one grid is used. how to position the grid.
    align-content: start; // y-axis
   // background-color: red;
    
}


@media screen and (min-width:1100px){
    .content-list-container{
        // 250 * 4 = 1000 + 10 * 3 = 1030,
        // 80 margin
        @include contents-block(30, 10px, 4, 250px, 1030px);
    }
    @include grid-template-areas-generator(30,4);
}
@media screen and (min-width:850px) and (max-width:1099px){
    .content-list-container{
        // 250 * 3 = 750 + 10 * 2 = 770,
        // 850 - 770 = 80 / 2 = 40;
        @include contents-block(30, 10px, 3, 250px, 770px);
    }
    @include grid-template-areas-generator(30,3);
}


// for mobile, and assuming mobile, 850px;
@media screen and (min-width:800px) and (max-width:849px){
    // pixel plus 823, X 812
    .content-list-container{
        @include contents-block(30, 6px, 1, 800px, 800px);
    }
    @include grid-template-areas-generator(30,1);
}
@media screen and (min-width:750px) and (max-width:799px){
    // unknow
    .content-list-container{
        @include contents-block(30, 6px, 1, 750px, 750px);
    }
    @include grid-template-areas-generator(30,1);
}
@media screen and (min-width:700px) and (max-width:749px){
    // plus 736,pixel 2 731
    .content-list-container{
        @include contents-block(30, 6px, 1, 700px, 700px);
    }
    @include grid-template-areas-generator(30,1);
}
@media screen and (min-width:650px) and (max-width:699px){
    // unknown
    .content-list-container{
        // (650px - 6 ) /2 = 644 / 2 = 322
        @include contents-block(30, 6px, 1, 650px, 650px);
    }
    @include grid-template-areas-generator(30,1);
}
@media screen and (min-width:600px) and (max-width:649px){
    // s5 640
    .content-list-container{
        // (600px - 6 ) /2 = 594 / 2 = 297
        @include contents-block(30, 6px, 1, 600px, 600px);
    }
    @include grid-template-areas-generator(30,1);
}
@media screen and (min-width:576px) and (max-width:559px){
    // unknown 
    .content-list-container{
        // (576px - 6 ) /2 = 285
        @include contents-block(30, 6px, 1, 576px, 576px);
    }
    @include grid-template-areas-generator(30,1);
}

@media screen and (min-width:550px) and (max-width:575px){
    // iphone 5 568
    .content-list-container{
        // (550px - 6 ) /2 = 272
        @include contents-block(30, 6px, 1, 550px, 550px);
    }
    @include grid-template-areas-generator(30,1);
}

@media screen and (min-width:450px) and (max-width:549px){
    // no phones
    .content-list-container{
        @include contents-block(30, 6px, 1, 450px, 450px);
    }
    @include grid-template-areas-generator(30,1);
}

@media screen and (min-width:390px) and (max-width:449px){
    // iphone plus 414
    // (390px - 6) / 2 = 
    .content-list-container{
        @include contents-block(30, 6px, 1, 390px, 390px);
    }
    @include grid-template-areas-generator(30,1);
}
@media screen and (min-width:375px) and (max-width:389px){
    // unkown
    .content-list-container{
        @include contents-block(30, 6px, 1, 360px, 360px);
    }
    @include grid-template-areas-generator(30,1);
}
@media screen and (min-width:360px) and (max-width:374px){
    // iphone 6
    .content-list-container{
        @include contents-block(30, 6px, 1, 350px, 350px);
    }
    @include grid-template-areas-generator(30,1);
}
@media screen and (min-width:320px) and (max-width:359px){
    // s5 (360px) and below
    .content-list-container{
        @include contents-block(30, 6px, 1, 310px, 310px);
    }
    @include grid-template-areas-generator(30,1);
}
@media screen and (max-width:319px){
    // iphone 5 (320px) and below
    .content-list-container{
        @include contents-block(30, 6px, 1, 300px, 300px);
    }
    @include grid-template-areas-generator(30,1);
}

.content-card{
    display: flex;
    background-color:rgb(255, 255,255);
    box-shadow: 1px 2px 2px rgb(240, 240, 240);
    
    .content-card-img{
        position: relative;
        .duration{
            position: absolute;
            font-size: 12px;
            bottom: 10px;
            right: 8px;
            background-color:hsl(0, 0%, 6.7%);
            opacity: .8;
            color:rgb(238, 238, 238);
            word-wrap: break-word;
            font-family: Roboto,Arial, sans-serif;
            display: inline;
            text-size-adjust: 100%;
        }
        .fa-clock, .fa-check{
            border-radius: 2px;
            position: absolute;
            font-size:18px;
            top: 8px;
            right: 8px;
            opacity: .8;
            color:rgb(238, 238, 238);
            background-color: hsl(0, 0%, 6.7%);
        }
    }
 
    .content-card-info{
        max-height: 110px;
        padding: 10px;
        .card-title {
            position: relative;
            font-size: 13px;   
            font-weight: 500;
            margin:1px;
            .text-concat {
                position: relative;
                display: inline-block;
                word-wrap: break-word;
                overflow: hidden;
                max-height: 2.4em; 
                line-height: 1.2em;
                text-align:left;
                color:black;
            }
        }
        .sub-info{
            .tag-value{
                color: hsla(0, 0%, 6.7%, .6);
                max-height: 1.0em; 
                line-height: 1.0em;
                overflow: hidden;
                display: inline-block;
            }
            font-size:12px;
        }
    }    
}
#spinner{
    z-index: 10;
    position: fixed;
    left:50%;
    margin-left:-40px;
    top: 50%;
    margin-top:-40px;
}
.uncensored{
    font-weight: bold;
    background-color: red;
    border-radius: 2px;
}
button{
    background-color: black;
    color:white;
}