<app-content-nav></app-content-nav>
<div  (click)='bodyClick()'>
<div class="content-list-container">
    <div id="spinner">
      <mat-spinner [ngStyle]="{'display':isShowSpinner?'block':'none'}" [diameter]="80" color="primary"></mat-spinner>
    </div>
    <div *ngFor="let content of contents; let i = index" 
        [id]="'item-' + (i + 1)" 
        class="content-card" 
        [ngStyle]="{'flex-direction':flex_direction}">
        <app-content-image [content]="content" [imageWidth]="image_width" [imageHeight]="image_height" [largeWatchLater]="enlargeWatchLater"></app-content-image>
        <div class="content-card-info">
            <div class="card-title">
              <a [routerLink]="'/content/' + content._id"><span class="text-concat">{{content.title}}</span></a>
            </div>
            <div *ngIf="content.starnames.length > 0" class="sub-info">
              <span class="tag-value">{{content.starnames.length === 1? 'Pornstar': 'Pornstars'}}: {{formatter.convertStarnames(content.starnames)}}</span>
            </div>
            <div class="sub-info">
              <span class="tag-value"><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;&nbsp;{{formatter.convertRating(content.rating)}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span class="tag-value">{{formatter.convertView(content.view)}} views&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span *ngIf="content.genres.indexOf('uncensored') !== -1" class="tag-value uncensored">&nbsp;&nbsp;U&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>
</div>
</div>
<app-function-panel (scrolling)="scrollingHandler($event)" [ngStyle]="{'display': isDisplayPanel}" style="position:fixed;bottom: 60px;right:20px; z-index: 10"></app-function-panel>
<button mat-raised-button (click)="toggleFunctionPanel()" style="position:fixed;bottom: 20px;right:20px; z-index: 10"><i class="far fa-star" style="font-size:20px"></i></button>
