
<div *ngFor="let content of contents">
      <div class="card-media">
        <div class="recommend-img">
          <a [routerLink]="'/content/' + content._id">
            <img style="width:168px;height:100px;" [src]="content.imgSummaryUrl" onerror="this.onerror=null;this.src='/assets/images/photo_not_available.jpg';">
          </a>
          <span *ngIf="content.duration" class="duration">&nbsp;{{formatter.convertDuration(content.duration)}}&nbsp;</span>
        </div>
        <div class="card-media-info">
            <div class="title ellipsis">
              <a [routerLink]="'/content/' + content._id"><span class="text-concat">{{content.title}}</span></a>
            </div>
            <div *ngIf="content.starnames.length > 0" class="sub-info">
              <span class="tag-value">{{content.starnames.length === 1? 'Pornstar': 'Pornstars'}}: {{formatter.convertStarnames(content.starnames)}}</span>
            </div>
            <div class="sub-info">
              <span class="tag-value"><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;&nbsp;{{formatter.convertRating(content.rating)}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span class="tag-value">{{formatter.convertView(content.view)}} views</span>
            </div>
        </div>
      </div>
      <mat-divider></mat-divider>
</div>
